<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruddy Controller</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="/static/controller.js"></script>

</head>
<body>
  <h1>Ruddy Controller</h1>

  <p>
    <button onclick="createWorker()">Create Worker</button>
  </p>

  <p>Status:</p>

  <pre id="status-output">

  </pre>
</body>
</html>
